body {
  padding: 0;
  margin: 0;
  background-image: url(images/background.jpg);
}

h1 {
  font-size: 30px;
}

.container {
  margin: 50px;
  padding: 0;
}

.form {
  margin: 30px;
}

.form input {
  line-height: 30px;
  margin: 5px;
}

.container input {
  border-radius: 4px;
  outline: none;
}

.error {
  color: red;
  font-size: 10px;
}
